<header>
	<div class="container-fluid text-center landing_main col-md-12 slideRight">
		<div class="row col-md-8 col-md-offset-2 text-center" id="landing_row">
			<h1 id="tagline">A Free Party Game for Everyone's Worst Habits</h1>
		</div>
		<div class="row col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3 text-center ks_button_div">
			<a href="http://kck.st/1srNSmc" class="btn btn-block btn-default", id="ks_button_link"><%= image_tag "backusbutton.png", :id => "ks_button" %></a>
		</div>
	</div>
	<video id ="main-video" muted="true"  autoplay loop>
		<source src="vid.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
		<nav id ="navbar" class="transparent navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
						<object type="image/svg+xml" class="navlogo navbar-brand" data="<%= asset_path 'intervention-black.svg' %>"></object>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://kck.st/1srNSmc" id="nav-ks">Kickstarter</a></li>

					<li><a href="#" id="nav-reviews">Reviews</a></li>
					<li><a href="#" id="nav-about">About</a></li>
					<li><a href="#" id="nav-cards">Cards</a></li>
					<li><a href="Intervention-PnP Instructions.pdf" target="_blank" id="nav-rules">Rules</a></li>
					<li><a href="InterventionPNPv2.pdf" id="nav-pnp" download>Download</a></li>
					<li><a href="https://www.facebook.com/playintervention" id="nav-fb" target="_blank"><i class="fa fa-facebook-square icon_large"></i></a></li>
					<li><a href="https://twitter.com/worsthabits" id="nav-twitter" target="_blank"><i class="fa fa-twitter-square icon_large"></i></a></li>



				</ul>
			</div>
		</nav>
	</header>
	<section class="reviews">
		<div class="container container-xs-height">
			<div class="row col-md-10 col-md-offset-1 text-center row-xs-height" id="reviews">
				<%= image_tag "laurel-left.svg", :class => "laurel col-xs-2", :id=>"laurel-left" %>
				<div class="review_content col-xs-8 v-center text-center">
					<p id="the_reviews"><span id="quote"></span> <span id="quote_author"></span> <a id="quote_link" target="_blank"></a></p> 
				</div>
				<%= image_tag "laurel-right.svg", :class => "laurel col-xs-2 ", :id=> "laurel-right" %>
			</div>
		</div>
	</div>
</section>
<section class="about">
	<div class="container-fluid">
		<div class="row col-md-10 col-md-offset-1 text-center" id="first_row">
			<h1> What is Intervention?</h1>
			<h3>It's simple: <br><br>
				<div class="row col-md-12">
					<div class="col-md-6 col-md-offset-3 start_hidden" id="first_rule">
						Each round, one person reads off a question card

					</div>
				</div> 
				<div class="row col-md-12 ">
					<div class="col-md-6 col-md-offset-3 start_hidden" id="second_rule">
						Then everyone votes for the player who best represents the answer to that question
					</div>

				</div> 
				<div class="row col-md-12 ">
					<div class="col-md-6 col-md-offset-3 start_hidden" id="third_rule">
						Then everyone tries to guess how many votes they will receive
					</div>
				</div>
			</h3>
			<div class="row col-md-offset-4 col-md-4 ">
				<button class="btn btn-block btn-success" id="download_button">Download PDF</button>
			</div>

		</div>
	</div>
</section>
<section class="cards clearfix">
	<div class="container-fluid">
		<div class="row col-xs-8 col-xs-offset-2">
			<h1> Vote for the content in our first production run </h1>
			<div class="col-xs-4 card_display" id="card1">
				<span></span>
				<p></p>
				<object type="image/svg+xml" class="cardlogo" data="<%= asset_path 'intervention-white.svg' %>"></object>
				<i class='fa fa-check-circle-o hide checkmark'></i>
			</div>
			<div class="col-xs-4">
				<h1 id="vs"> VS </h1>
			</div>
			<div class="col-xs-4 card_display" id="card2">
				<span></span>
				<p></p>
				<object type="image/svg+xml" class="cardlogo" data="<%= asset_path 'intervention-white.svg' %>"></object>
				<i class='fa fa-times hide ex'></i>

			</div>
		</div>
	</div>
</section>
<section class="newcard clearfix">
	<div class="container">
		<h1> Suggest a new card </h1>
		<div class="row col-md-8 col-md-offset-2 form">
			<form id="create_new">
				<span id="errors"></span>
				<textarea name="content" maxlength="140" placeholder="Suggest a new card..." cols="50"></textarea>
				<br>
				<input type="text" maxlength="30" placeholder="Your Name" name="created_by" id="yourname">
				<br>
				<br>
				<div class="col-md-offset-4 col-md-4 ">
					<input type="Submit" class="btn btn-success btn-block" id="submit_new">
				</div>
			</form>
		</div>
	</div>
</section>
<section class="footer clearfix">
	<div class="col-xs-6">
		<object type="image/svg+xml" data="<%= asset_path 'intervention-black.svg' %>" class="footerlogo"></object>
	</div>
	<div class="col-xs-6 listcontainer">
		<ul class="col-xs-12 footerlist">
			<li><a href="Intervention-PnP Instructions.pdf" target="_blank"> RULES </a>
			</li>
			<li><a href="InterventionPNPv2.pdf" download> DOWNLOAD</a>
			</li>
			<li> <a href="mailto:support@playintervention.com" target="_top" title="Send an email to support@playintervention   .com">CONTACT US </a>
			</li>
		</ul>
	</div>
</section>
