<!DOCTYPE html>
<head>
  <meta name="google-translate-customization" content="5f077e8844d1996c-11cc3d49f980c9c1-g5cb402e7a48714f9-18"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@worsthabits">
    <meta name="twitter:title" content="Intervention: A party game for everyone's worst habits. ">
    <meta name="twitter:description" content="It's simple. Each round, one person reads off a question card and then everyone votes for the player who best represents the answer to that question. Everyone then tries to guess how many votes they will receive.">
    <meta name="twitter:image:src" content="<%= asset_path 'fbad-kspic.png'%>">
    <meta property="og:title" content="Intervention: A Party Game for Everyone's Worst Habits">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.playintervention.com">
    <meta property="og:image" content="<%= asset_path 'fbad-kspic.png'%>">
    <meta property="og:description" content="It's simple. Each round, one person reads off a question card and then everyone votes for the player who best represents the answer to that question. Everyone then tries to guess how many votes they will receive.">
    <link rel="shortcut icon" href="<%= asset_path 'favicon.ico' %>"/>
  <title>Intervention: A Party Game for Everyone's Worst Habits</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="clearfix">
<%= yield %>
        
</body>
</html>
